version: '3.8'

services: 
  api:    
    build: .  
    ports:     
      - "8000:8000"   
    environment:
      # Environment variables for initial root user creation
      MONGO_INITDB_ROOT_USERNAME: "admin"
      MONGO_INITDB_ROOT_PASSWORD: "password"
      MONGO_INITDB_DATABASE: "events_db"
      MONGO_HOST: "mongodb"
      MONGO_PORT: "27017"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest # Use the official MongoDB image
    ports:
      - "27017:27017" # Map the container's MongoDB port to the host's port
    environment:
      # Environment variables for initial root user creation
      MONGO_INITDB_ROOT_USERNAME: "admin"
      MONGO_INITDB_ROOT_PASSWORD: "password"
      MONGO_INITDB_DATABASE: "events_db"